@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: rgb(8, 8, 26);
}
.container{
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    overflow-y: hidden;
}
.navbar{
    background: rgb(13, 13, 37);
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    height: 5vh;
}
.navbar span{
    font-weight: 500;
}
button,i,a :hover{
    cursor: pointer;
}
.navbar span:hover{
    cursor: pointer;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.navbar ul li{
    margin-right: 2em;
}
.navbar ul li:hover{
    color: rgb(187, 70, 90);
    text-decoration: underline;
    cursor: pointer;
}
.content{
    padding: 5em 2em;
}
.content p{
    padding: 2em 0em;
    color: rgb(83, 83, 83);
}
.content button{
    width: 15em;
    height: 4em;
    color: white;
    background: rgb(173, 55, 75);
    border: none;
}
.services{
    padding: 2em 2em;
}
.services h1{
    color: rgb(187, 70, 90);
}
.info-card{
    display: flex;
}
.bar{
    background: rgb(187, 70, 90);
    width: 5.5em;
    height: 0.2em;
    margin-bottom: 1em;
}
.card{
    width: 20em;
    height: 20em;
    margin-right: 2em;
    text-align: center;
    padding: 2em;
    background:rgba(172, 169, 169, 0.253);
}
.card i{
    font-size: 2em;
    color: rgb(187, 70, 90);
    padding: 0.5em 0em;
}
.contact h1{
    color: rgb(187, 70, 90);
}
.contact{
    padding: 2em;
}
input {
    display: block;
    width: 30em;
    height: 3em;
    background: transparent;
    color: black;
    border: 2px solid rgb(13, 13, 37);
    margin: 0.5em 0em;
    padding-left: 1.5em;
}
.contact button{
    align-self: right;
    background: rgb(187, 70, 90);
    color: black;
    border: none;
    width: 15em;
    height: 4em;
}